<html>
<head>
<title>Welcome</title>
</head>
<body>
{{ if not . }}
	<a href="/create_account">
		<button type="button">Create Account!</button>
	</a>
	<br>
	<a href="/login">
		<button type="button">Log in</button>
	</a>
{{end}}
{{ if . }}
	<a href="/logout">
		<button type="button">Log out</button>
	</a>
	<a href="/user">
		<button type="button">User Directory</button>
	</a><br>
	<a href="/challenge">
		<button type="button">Go to challenges!</button>
	</a>
	<a href="/ranking">
		<button type="button">Ranking!</button>
	</a>
	<a href="/add_challenge">
		<button type="button">Add Challenge</button>
	</a>
{{end}}
</body>
</html>
