<html>
<head>
<title>Welcome</title>
</head>
<body>
	{{if .IsYou}}
		<H1>Welcome to your user page</H1>
	{{end}}
	<H2>Userinfo:</H2><br>
	<ul>
	<li>Username: {{.Username}}</li>
	<li>Email: {{.Email}}</li>
	<li>Joined: {{.Created}}</li>
	<li>Points: {{.Score}}
	<li>Challenges finished:<ul>
		{{ range $value := .Finished }}
			<li><strong><a href="/challenge/{{ $value.Id }}">{{ $value.Title }} Points: {{ $value.Score }}</a></strong></li>
		{{end}}
		</ul>
	</ul>
	<a href="/">
		<button type="button">Go back!</button>
	</a>
	<a href="/user">
		<button type="button">User directory</button>
	</a>
	<a href="/challenge">
		<button type="button">Challenges!</button>
	</a>
</body>
</html>